.info-right {
    display: flex;
    flex-direction: column;
    background: var(--right-color); 
    padding: 2rem;
    
    border-radius: 2rem;
    justify-content: space-between;
    transition: .5s;
}

.info {
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
}

.infos {
    display: flex;
    justify-content: space-between;
}

.infos span {
    font-weight: 700;
}

.temp {
    font-weight: 800;
}

.search-box {
    display: flex;
    column-gap: .6rem;
    background: var(--left-color);
    border-radius: 2rem;
    padding: .4rem 1rem;
    padding-left: .9rem;
    text-align: center;
    transition: .5s;
}

input {
    border-style: none;
    background: transparent;
    font-size: 1rem;
    color: var(--main-text-color);
}

textarea:focus, input:focus{
    border-style: none;
    border: none;
    outline: none;
}

input[type="text"]::placeholder {
    color: var(--placeholder);
    transition: .5s;
    font-size: 1rem;
}

.search-btn {
    width: 100%;
    display: flex;
    padding: .3rem;
}

img {
    width: 15px;
}